
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}
h3 {
    color: #fff;
    font-size: 27px;
    padding-left: 28px;
}

header{
    background: #333;
}

.logoutbtn {
    color: #717070;
    text-decoration: none; 
    margin: 9px 30px -18px; 
    display: block;
}

div.center{
    display: flex;
    height: 100vh;
}

div.center aside{
    width: 300px;
    background: #272727;
}

button.refresh{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 18px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 150ms;
}

button.refresh:hover{
    transform: rotate(90deg);
}
aside {
    padding-top: 10px;
    position: relative;
}
aside .header {
    display: flex;
    align-items: center;
}
aside h3{
    color: #eaeaea;
    padding: 0px 17px;
    margin: 0;
    font-size: 23px;
}
aside .add-icon {
    margin: 0 10px 0 auto;
    cursor: pointer;
}
aside ul{
    list-style: none;
    padding: 0;
}

aside ul li{
    display: flex;
    font-size: 16px;
    color: #b3b3b3;
    padding: 5px 0;
    transition: 150ms;
}
aside ul li.aktiv{
    background: #000;
}
aside ul li:hover{
    background: #222;
}

aside ul li:hover .trash-icon {
    opacity: 1;
    transition: 150ms;
}
aside .trash-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

aside .trash-icon svg {
    height: 15px;
    width: 15px;
    transition: 150ms;
    margin: auto 8px;
}
aside .trash-icon:hover svg {
    margin: auto 10px;
}



@media (max-width: 800px){

    div.center aside{
        width: 0;
        overflow: hidden;
    }

}

.items {
    width: 100%;
    background: #111;
    overflow: auto; 
    overflow-x: hidden;
}
.liste {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-auto-flow: row dense;
    padding: 0 28px;
}
.liste .item {
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0 0 11px -2px #000;
    width: 280px;
    opacity: 0.6;
    cursor: pointer;
}
.liste .item:hover {
    opacity: 1;
}

.liste .item img {
    width: 100%;
}
.liste p.title {
    font-size: 14px;
    padding: 0 7px;
    color: #9e9e9e;
}
.liste p.kanal {
    font-size: 12px;
    padding: 0 7px;
    color: #525252;
}

.liste .item.playerAktiv {
    position: fixed;
    opacity: 1;
    z-index: 1;
    left: 50%;
    top: 50%;
    background: #111;
    width: 95%;
    max-width: 980px;
    transform: translate(-50%, -50%);
    height: 95%;
    max-height: 631px;
}
.liste .item.playerAktiv img {
    display: none;
}
.liste .item.playerAktiv iframe {
    width: 100%;
    height: calc(100% - 80px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #222222;
    width: 100%;
    height: 100%;
}

@media (max-width: 460px){
    .liste {
        display: block;
        padding: 0;
        width: 100%;
    }
    .liste .item {
        width: 85%;
        padding: 9px;
        margin: 22px auto;
    }
}