
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}
h3 {
    color: #fff;
    font-size: 27px;
    padding-left: 28px;
}

header{
    background: #333;
}

.logoutbtn {
    color: #717070;
    text-decoration: none; 
    margin: 9px 30px -18px; 
    display: block;
}

div.center{
    display: flex;
    height: 100vh;
}

div.center aside{
    width: 300px;
    background: #272727;
}

button.refresh{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 18px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 150ms;
}

button.refresh:hover{
    transform: rotate(90deg);
}


aside{
    box-sizing: border-box;
    cursor: default;
    padding-top: 10px;
    position: relative;
}
aside ul{
    list-style: none;
    padding: 0;
}

aside ul li{
    display: flex;
    font-size: 16px;
    color: #b3b3b3;
    padding: 5px 0;
    transition: 150ms;
}
aside ul li.aktiv{
    background: #000;
}
aside ul li:hover{
    background: #222;
}
aside h3{
    color: #eaeaea;
    padding: 0px 17px;
    margin: 0;
}

aside ul li .icon{
    margin-top: -2px;
    opacity: 0;
    cursor: pointer;
}
aside ul li:hover .icon {
    opacity: 1;
}
aside ul li .icon i{
    padding: 0px 6px;
    font-size: 11px;
}

aside > .icon {
    position: absolute;
    right: 11px;
    color: #9B9B9B;
    font-size: 17px;
    cursor: pointer;
    top: 17px;
}


@media (max-width: 800px){

    div.center aside{
        width: 0;
        overflow: hidden;
    }

}

.items {
    width: 100%;
    background: #111;
    overflow: auto; 
    overflow-x: hidden;
}
.liste {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-auto-flow: row dense;
    padding: 0 28px;
}
.liste .item {
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0 0 11px -2px #000;
    width: 280px;
    opacity: 0.6;
    transition: 100ms;
    cursor: pointer;
}
.liste .item:hover {
    opacity: 1;
}

.liste .item img {
    width: 100%;
}
.liste p.title {
    font-size: 14px;
    padding: 0 7px;
    color: #9e9e9e;
}
.liste p.kanal {
    font-size: 12px;
    padding: 0 7px;
    color: #525252;
}

.liste .item.playerAktiv {
    position: fixed;
    opacity: 1;
    z-index: 1;
    top: 20px;
    right: 40px;
    background: #111;
    width: 100%;
    max-width: 460px;
}
.liste .item.playerAktiv img {
    display: none;
}
.liste .item.playerAktiv iframe {
    width: 100%;
    min-height: 221px;
    box-sizing: border-box;
}

@media (max-width: 800px){

    .liste .item {
        opacity: 1;
    }

    .liste {
        width: 50vw;
    }

    .liste .item.playerAktiv {
        right: 0;
        top: 0;
        width: 50vw;
    }

}

@media (max-width: 460px){
    .liste {
        display: block;
        padding: 0;
        width: 100%;
    }
    .liste .item {
        width: 85%;
        padding: 9px;
        margin: 22px auto;
    }

    .liste .item.playerAktiv {
        right: unset;
        top: -23px;
        width: 100%;
    }


}